*.user
*.DS_Store
*.unitypackage

*.ogg
*.ogg.meta
*.flac
*.flac.meta
*.wav
*.wav.meta
*.unitypackage
.vsconfig

.vs/
_out/
_tmp/
_build_*/
external/
Library/
Temp/
Logs/
obj/
TestLocal/
TestLocal.meta

.RemoteTalk/*.sln
.RemoteTalk/*.csproj
Assets/StreamingAssets/RemoteTalk/*.json
Assets/StreamingAssets/RemoteTalk/*.json.meta
